.support {
  background: black;
  color: white;
  &__container {
    display: flex;
    flex-flow: wrap;
    padding: 50px 0px;
  }
  &__item {
    display: flex;
    justify-content: flex-end;
    flex: 1 50%;
    text-align: right;
    &:nth-child(even) {
      flex-direction: row-reverse;
      text-align: left;
    }
    &:nth-child(odd) {
      h3:after {
        right: 0px;
      }
    }
    &:nth-child(even) {
      h3:after {
        left: 0px;
      }
    }
    @include media-breakpoint-down(lg) {
      justify-content: end;
      flex: auto;
      text-align: center;
      flex-direction: column;
      align-items: center;
      margin: 0px 25px;
      &:nth-child(even) {
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
      &:nth-child(odd) {
        h3:after {
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      &:nth-child(even) {
        h3:after {
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
    p {
      font-weight: 100;
      font-size: 17px;
      max-width: 350px;
    }
    h3 {
      color: $primary;
      font-weight: 400;
      font-size: 25px;
      position: relative;
      &:after {
        width: 300px;
        height: 1px;
        background: $primary;
        content: " ";
        position: absolute;
        bottom: -7px;
        @include media-breakpoint-down(md) {
          width: 80%;
        }
      }
    }
    img {
      padding: 25px;
      width: fit-content;
    }
  }
}
