.firstPage {
  width: 100%;
  background: black;
  &__container {
    height: 650px;
    display: flex;
    justify-content: space-between;
    color: white;
    @include media-breakpoint-down(md) {
      height: 450px;
    }
    @include media-breakpoint-down(sm) {
      height: 400px;
      justify-content: center;
      position: relative;
      max-width: 650px;
      margin: auto;
    }
    @include media-breakpoint-up(xxl) {
      min-height: 100vh;
    }
  }
  &__top {
    display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	@include media-breakpoint-down(sm) {
		z-index: 2;
	}
  }
  &__logo {
	  margin-top: 5px;
    img {
      max-width: 170px;
    }
    @include media-breakpoint-down(sm) {
      left: 0px;
      margin: 15px 5px;
      img {
        max-width: 110px;
      }
    }
  }
  &__left {
    position: relative;
    width: 50%;
    text-align: center;
    @include media-breakpoint-down(sm) {
      position: absolute;
      width: 100%;
      height: inherit;
      box-sizing: border-box;
    }
    h1 {
      padding: 20px;
      font-size: 78px;
      padding-bottom: 18px;
      margin-bottom: 15px;
      font-weight: 500;
      position: relative;

      @include media-breakpoint-down(xl) {
        font-size: 62px;
      }
      @include media-breakpoint-down(md) {
		font-size: 25px;
		text-align: left;
		margin: 0;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 0px;
		width: 200px;
      }

      &:after {
        content: " ";
        width: 70%;
        min-width: 250px;
        background: $primary;
        height: 1px;
        position: absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        bottom: 0px;
        @include media-breakpoint-down(md) {
			left: 20px;
			right: inherit;
          bottom: -5px;
		  min-width: 180px;
		  width: auto;
		  margin-left: auto;
        }
      }
    }
    h3 {
      font-size: 25px;
      font-weight: 100;
      width: 60%;
      padding: 20px;
      margin: auto;

      @include media-breakpoint-down(xl) {
        width: 80%;
      }
      @include media-breakpoint-down(md) {
        font-size: 17px;
        text-align: left;
        width: 200px;
        margin-left: unset;
        margin-top: 10px;
      }
    }
    @include media-breakpoint-up(xxl) {
      font-size: 32px;
    }
  }

  &__text {
    margin: 0px auto;
    margin-bottom: 100px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 200px;

    @include media-breakpoint-down(xl) {
      bottom: 60px;
    }

    @include media-breakpoint-down(md) {
      bottom: 0;
    }
  }
  &__right {
    width: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 60px;
    @include media-breakpoint-down(sm) {
	  width: 100%;
	  background-position: right;
    }
  }
  &__button {
    position: absolute;
    bottom: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    @include media-breakpoint-down(xl) {
      bottom: 60px;
    }
    @include media-breakpoint-down(md) {
      bottom: 10px;
    }
    @include media-breakpoint-down(sm) {
      flex-flow: column-reverse;
      max-width: 200px;
      margin: 10px;
      width: calc(100% - 20px);
      justify-content: left;
      .button__primary,
      .button__secondary {
        width: auto !important;
      }
    }
  }
  .button {
    &__primary,
    &__secondary {
      font-size: 25px;
      width: 300px;
      height: 60px;
      margin: 5px 20px;
      @include media-breakpoint-down(xl) {
        font-size: 19px;
        height: 50px;
        width: 250px;
      }
      @include media-breakpoint-down(md) {
        font-size: 15px;
        margin: 5px 10px;
        height: 40px;
        width: 100%;
      }
    }
  }
}
.scrollBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  position: fixed;
  z-index: 5;
  padding-right: 15px;
  top: 0;
  bottom: 0;
  right: 0px;
  margin: auto;
  @include media-breakpoint-down(md) {
    display: none;
  }
  &__box {
    position: relative;
  }
  &__text {
    color: $primary;
    background: white;
    border: 1px solid $primary;
    width: 110px;
    position: absolute;
    text-align: center;
    top: -22px;
    z-index: 5;
    left: -125px;
    padding: 5px;
  }
  &__item {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 0.5px solid $primary;
    &:hover {
      background: $primary;
    }
  }
}
//Menu Material UI
.menu {
  @include media-breakpoint-down(lg) {
    display: none;
  }
  &__title {
    text-align: center;
    background: $primary;
    color: white;
    font-size: 20px;
    font-family: "Lato";
    line-height: 2.5;
    margin: 0 0;
    padding: 12px;
  }
  display: flex;
  margin-top: 40px;
  position: absolute;
  right: 0px;
  a {
    text-decoration: none;
    color: $grey_1;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 19px;
    font-weight: 100;
    &:hover {
      color: $primary;
    }
    &.is-active {
      color: $primary;
    }
  }
}

.MuiPaper-root {
  // border-top: 20px solid #cc1111;
}
ul.MuiList-root.MuiList-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.MuiListItemText-root {
  text-align: center;
  // color: $primary;
  font-weight: bold;
  font-family: "Roboto";
}
.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
  color: $primary;
  margin: 5px 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #e6e6e6;
  border-left: 1px solid $primary;
  &:hover {
    background: white;
    color: #6d6d6d;
    border-left: 1px solid #6d6d6d;
  }
}
span.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1 {
  font-size: 20px;
  font-family: "Lato";
  line-height: 2.5;
}
