.galeries {
  margin-top: 100px;
  @include media-breakpoint-down(md) {
    margin-top: 50px;
  }
  position: relative;
  .title {
    font-size: 55px;
    background: white;
    width: fit-content;
    margin: 30px auto;
    position: relative;
    @include media-breakpoint-down(md) {
      font-size: 35px;
    }
  }
  &__container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    .galeries__photo{
        max-width: calc(25% - 60px);
        min-width: 200px;
        margin: 30px 15px;
        @include media-breakpoint-down(lg) {
          max-width: 300px;
        }
        img {
            width: 100%;
            transition: 0.4s transform;
            &:hover {
              cursor: pointer;
              transform: scale(1.1);
              transform: rotate(5deg);
            }
          }
    }
    
  }
}
