.terapyMenu {
  margin: 0px 25px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  @include media-breakpoint-down(sm) {
    margin: 0px 10px;
  }
  &__item {
    position: relative;
    flex:1;
    margin: 0 5px;
    text-align: center;
    border: 1px solid blue;
    color: blue;
    font-size: 36px;
    padding: 20px 0px;
    @include media-breakpoint-down(lg) {
      font-size: 30px;
    }
    @include media-breakpoint-down(md) {
      margin: 5px 5px;
      font-size: 24px;
    }
    @include media-breakpoint-down(sm) {
      margin: 5px 10px;
    }
    &:hover {
      cursor: pointer;
      color: #BC9655;
      &.terapyMenu__item::before {
        width: 100%;
        height: 1px;
        display: block;
        content: " ";
        background: blue;
        position: absolute;
        bottom: 5px;
      }
    }
    &-active {
      &:after {
        width: 100%;
        height: 1px;
        display: block;
        content: " ";
        background: blue;
        position: absolute;
        top: 5px;
      }
      &:before {
        width: 100%;
        height: 1px;
        display: block;
        content: " ";
        background: blue;
        position: absolute;
        bottom: 5px;
      }
    }
    &__text{
      padding-right: 10px;
    }
  }
}
