.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.71);
    z-index: 10000;
    top: 0;
    left:0;
  &__container {
    position: fixed;
    z-index: 100;
    width: 570px;
    height: 320px;
    background: rgba(0, 0, 0, 0.71);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border:1px solid white;
    overflow: hidden;
    @include media-breakpoint-down(sm) {
        width: 309px;
        height: 174px;
    }
    &-first{
        width: 95%;
    height: 95%;
    }
  }
}

.modal-responsive{
  padding: 15px;
}