$blue: black;
ul.pagination {
  display: flex;
  margin: auto;
  margin: 40px 0;
  justify-content: center;
  li {
    width: 30px;
    padding: 1px;
    list-style: none;
    a {
      text-decoration: none;
      border: 0px;
      padding: 5px 11px;
      color: $grey_2;
      &:hover {
        color: black;
        border: 0.5px solid black;
      }
    }
    &.active {
      a {
        color: white;
        background: black;

        &:hover {
          color: black;
          background: white;
        }
      }
    }
    &.disabled {
      a {
        color: $grey_1;
        border: 0px;
      }
    }
  }
}
