.social {
  display: flex;
  justify-content: center;
  margin: 10px 5px;
  &__box {
    border: 1px solid $primary;
    margin: 5px;
    &:hover {
      border: 1px solid white;
      a {
        &.icon-facebook {
          color: #4267b2;
        }
        &.icon-youtube {
          color: #ff0000;
        }
      }
    }
    a {
      color: $primary;
      font-size: 25px;
      padding: 5px;
      display: block;
    }
  }
  &__menu {
    justify-content: center;
    margin: 10px 20px;
    margin-top: 30px;
  }
}

.observe {
  display: flex;
  justify-content: flex-end;
  &__container {
    width: 160px;
    @include media-breakpoint-up(xxl) {
      width: 200px;
      margin-right: 40px;
    }
  }
  .social {
    justify-content: left;
    margin: 15px 6px;
    &__box {
      margin-right: 25px;
    }
  }
  p {
    color: $primary;
    font-size: 17px;
    text-align: left;
    margin: 15px 10px;
  }
}
