@include media-breakpoint-up(md) {
  .expand {
    &__button {
      display: none;
    }
  }
}
@include media-breakpoint-down(md) {
  .expand {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__text {
      height: 100%;
      overflow: visible;
      position: relative;
      max-height: 100%;
      &--off {
        max-height: 245px;
        overflow: hidden;
      }
    }

    &__button {
      display: block;

      background: none;
      border: 0px;
      color: $primary;
      outline: none;
      margin-top: 10px;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
}
