@import "./question/style.scss";

.contact {
  flex:45%;
  padding: 0 10px;
  @include media-breakpoint-down(md) {
    flex: 100%;
  }
 
  @include media-breakpoint-up(xxl) {
    min-height: 100vh;
    height:100%;
  }
  h2 {
    text-align: left;
    color: black;
    font-weight: 400;
    font-size: 30px;
    @include media-breakpoint-down(md) {
      font-size: 25px;
    }
  }
  &__container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
    }
    

  }
  &__send{
    margin-top: 10px;
    &--sucess{
      color:green;
      text-align: center;
    }
    &--fail{
      color:red;
      text-align: center;
    }
  }
  &__flex {
    display: flex;

    @include media-breakpoint-down(sm) {
      display: block;
      margin:25px 0px;
    }
    button {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 100;
      color: $grey_2;
      background: white;
      border: 1px solid $grey_1;
      @include media-breakpoint-up(xxl) {
        padding: 20px;
      }
      &:hover{
        background: $grey_1;
        color:white;
        cursor: pointer;
      }
    }
    form {
      width: 100%;
      p{
        margin: 1px;
      }
    }
    input {
      box-sizing: border-box;
      width: 100%;
      border: 1px solid rgba(128, 128, 128, 0.2);
      padding: 10px;
      margin: 10px 0px 15px 0px;
      @include media-breakpoint-up(xxl) {
        padding: 20px;
      }
      &::placeholder {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        color:rgba(128, 128, 128, 0.8);
      }
    }
    textarea {
      box-sizing: border-box;
      width: 100%;
      height: 300px;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid rgba(128, 128, 128, 0.2);
      &::placeholder {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        color:rgba(128, 128, 128, 0.8);
      }
      @include media-breakpoint-up(xxl) {
        padding: 20px;
      }
    }
  }
  &__form {
    width: 50%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.captcha{
  display: flex;
  justify-content: center;
  margin: 25px 0px 20px 0px;
}

@include media-breakpoint-down(md) {
  display: none;
}