.question {
  width: 45%;
  padding: 0 10px;
  box-sizing: border-box;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
  h4 {
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0px;
    position: relative;
    padding: 0px 20px 20px 0px;
    @include media-breakpoint-down(md) {
        font-size: 16px;
        padding: 0px 10px 10px 0px;
    }
    &:hover {
      color: $primary;
      cursor: pointer;
      .arrow {
        border-left: 1px solid $primary;
        border-bottom: 1px solid $primary;
      }
    }
  }
  &__item {
    transition: 0.4s height;
    transition: 0.5s color ease-in;
    height: 0px;
    overflow: hidden;
    margin: 0px;
    color: rgba(128, 128, 128, 0);
    &--open {
      height: 100%;
      color: $grey_3;
      margin: 5px 0px;
      border-top: 1px solid black;
      padding: 20px 0px;
    }
  }
}

.arrow {
  height: 10px;
  width: 10px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: 0.5s transform;
  &--on {
    transform: rotateZ(-45deg);
  }
  &--off {
    transform: rotateZ(135deg);
  }
}
