.offer {
  background: white;
  padding: 25px 0;
  .offer__title {
    text-align: center;
    font-size: 55px;
    margin-bottom: 0px;
    @include media-breakpoint-down(md) {
      font-size: 35px;
    }
  }
  &__text {
    padding: 15px;
    ul {
      list-style-image: url("/img/ok.png");
      column-count: 3;
      margin-top: 40px;

      @include media-breakpoint-down(lg) {
        column-count: 2;
      }
      @include media-breakpoint-down(sm) {
        column-count: 1;
      }
      li {
        line-height: 25px;
        padding-right: 25px;
      }
    }
  }
  &__container {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    margin-left: auto;
    margin-right: auto;
    // border-bottom: 1px solid $grey_1;
    @include media-breakpoint-down(lg) {
      justify-content: center;
      margin-top: 10px;
    }
  }
  &__online {
    margin: 20px 0px 10px 0px;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-down(lg) {
      justify-content: center;
    }
  }
  &__online {
    &-box {
      min-width: 225px;
      border: 1px solid #c7c7c7;
      width: calc(25% - 60px);
      margin: 40px 0px;
      padding: 25px;
      box-sizing: border-box;
      position: relative;
      text-align: center;
      margin: 30px;
      &-black {
        background: black;
        input[type="submit"] {
          background: $primary;
          border: 1px solid $primary;
        }
        .offer__online-price {
          color: white;
        }
      }
      &-gold {
        background: gold;
        input[type="submit"] {
          background: $primary;
          border: 1px solid $primary;
        }
        .offer__online-price {
          color: black;
        }
      }
      input[type="submit"] {
        outline: none;
        width: 100%;
        background: black;
        border: 1px solid black;
        color: white;
        padding: 10px;
        font-size: 21px;
        margin-top: 10px;
        &:hover {
          cursor: pointer;
          background: white;
          color: black;
        }
      }
    }
    &-price {
      font-size: 41px;
      margin: 0px;
      color: black;
    }
    &-data {
      font-size: 25px;
      color: $primary;
      margin: 20px 10px;
    }
  }
  &__box {
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    width: 350px;
    margin: 40px 0px;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      margin: 40px 20px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 350px;
    }

    .offer {
      &__content {
        margin-top: 30px;
        @include media-breakpoint-down(sm) {
          margin-top: 20px;
        }
      }
      &__package {
        color: black;
        padding: 0px 25px;
        font-size: 23px;
        text-align: center;
        @include media-breakpoint-down(sm) {
          width: 100%;
          box-sizing: border-box;
        }
      }
      &__name {
        color: $primary;
        font-size: 30px;
        text-align: center;
        margin: 25px;
        padding: 8px 0px;
        border-right: 0px;
        border-left: 0px;
      }
      &__description {
        * {
          text-align: center !important;
          color: black;
        }
      }
      &__price {
        color: black;
        font-size: 51px;
      }
      &__data {
        color: $primary;
        font-size: 25px;
      }
      &__currency {
        font-size: 25px;
        color: black;
      }
      &__container-button {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        z-index: 2;
        @include media-breakpoint-down(sm) {
          margin-top: 20px;
        }
        input[type="submit"] {
          width: 75%;
          background: black;
          border: 1px solid black;
          color: white;
          padding: 20px;
          font-size: 21px;
          margin-top: 10px;
          &:hover {
            cursor: pointer;
            background: white;
            color: black;
          }
        }
      }
    }
    &-black {
      background: black;

      .offer {
        &__price,
        &__description,
        &__package {
          color: white;
        }
        &__description {
          * {
            color: white !important;
          }
        }
        &__currency {
          color: white;
        }
        &__container-button {
          input[type="submit"] {
            background: $primary;
            border: 1px solid $primary;
            color: white;
            outline: none;
            &:hover {
              background: white;
              color: $primary;
            }
          }
        }
      }
    }
    &-gold {
      background: black;
      position: relative;
      &::after{
        position: absolute;
        content: " ";
        height: calc(100% - 25px);
        width: calc(100% - 25px);
        border: 1px solid gold;
        left: 12.5px;
        top: 12.5px;
      }
      .offer {
        &__price,
        &__description{
          color: white;
      }
      &__package {
        color: white;
      }
        &__name{
          color:  gold;
          border:0px;
        }
        &__description {
          * {
            color: white !important;
          }
        }
        &__currency {
          color: white;
        }
        &__container-button {
          input[type="submit"] {
            background: $primary;
            border: 1px solid $primary;
            color: white;
            outline: none;
            &:hover {
              background: white;
              color: $primary;
            }
          }
        }
      }
    }
  }
}
