.barAdmin {
  &__bottom {
    position: fixed;
    top: -1px;
    right: 163px;
    height: 40px;
    z-index: 10000001;
    border-top: 1px solid #ffffff;
    text-align: center;
    @include media-breakpoint-down(sm) {
        top: 39px;
        right: 4px;
    }
  }
  &__top {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 10000000;
    border-bottom: 1px solid $primary;
    text-align: center;
    @include media-breakpoint-down(sm) {
        height: 80px;
    }
  }
}
