.forms {
	&__page {
		display: flex;
		justify-content: center;
		padding: 25px;
		box-sizing: border-box;

		h2 {
			text-align: center;
		}
		h1{
			text-align: center;
			color:$primary;
		}
	}
	&__box {
		margin-top: 20px;
	}
}
