.references {
  margin: 5px;
  margin-bottom: 100px;
  @include media-breakpoint-up(xxl) {
    height: 100%;
    display: flex;
  }
  &__modal {
    margin: 25px;
    padding: 25px;
    border: 1px solid $primary;
    .close {
      position: absolute;
      background: white;
      font-size: 26px;
      padding: 3px 5px;
      cursor: pointer;
      right: 13px;
      top: 15px;
      color: $primary;
      border: 1px solid white;
      &:hover {
        border: 1px solid $primary;
      }
    }
  }
  &__containerModal {
    div {
      div {
        div {
          border-radius: 0px !important;
        }
      }
    }
  }
  &__container {
    
    &--one,
    &--two {
      width: 100%;
      margin: auto;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
  &__gallery {
    cursor: pointer;
    margin: 0px 20px;
    &__author {
      display: flex;
      &--name {
        font-weight: 400;
        font-size: 15px !important;
      }
      p {
        font-size: 13px;
        padding-left: 13px;
        margin: 4px;
      }
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }

  &__text {
    width: auto;
    height: 148px;

    border: 1px solid rgba(190, 190, 190, 0.38);
    padding: 20px;
    position: relative;
    margin: 22px 0px;
    box-shadow: 0px 0 #fed73c, 0 0px #fed73c, 0px 0 #fed73c, 0px -1px #fed73c;
    text-align: center;
    display: flex;
    align-items: center;
    
    &__html {
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      max-height: 135px;
      color: #000000;
      font-weight: 100;
    }
    &__read {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 10px;
      background: #fff;
      color: #000000 !important;
      font-size: 14px;
      text-decoration: underline !important;
      &:hover {
        cursor: pointer;
        color: black !important;
      }
    }
    &__box {
      background: white;
      position: absolute;
      width: 30px;
      height: 30px;
      border: 1px solid rgba(190, 190, 190, 0.38);
      content: ".";
      left: 0;
      right: 0;
      margin: auto;
      bottom: -16px;
      transform: rotate(45deg);
      border-left: none;
      border-top: none;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    margin: 15px 100px;
    @include media-breakpoint-down(md) {
      margin: 15px 25px 0px 25px;
    }
    &__line {
      background: $grey_1;
      height: 1px;
      width: 100%;
    }
    &__btn {
      font-size: 30px;
      color: $grey_1;
      cursor: pointer;
      align-items: center;
    display: flex;
    &:hover{
      color:$primary;
      cursor: pointer;
    }
      &--left {
      }
      &--right {
      }
    }
  }
}
