.aboutMe {
  max-height: 700px;
  display: flex;
  position: relative;
  @include media-breakpoint-down(md) {
    flex-flow: column-reverse;
    max-height: inherit;
    &__background {
      background-position-x: center !important;
      width: auto !important;
    }
  }
  &__img {
    width: 50%;
    text-align: center;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    img {
      max-height: 100%;
      @include media-breakpoint-down(md) {
        max-width: 320px;
      }
    }
  }
  &__text {
    width: 50%;
    box-sizing: border-box;
    @include media-breakpoint-down(md) {
      width: 100%;
      margin: 50px 0px;
      text-align: center;
      padding: 25px;
    }
    @include media-breakpoint-down(sm) {
      margin: 0px;
    }
    h1 {
      color: black;
      font-size: 90px;
      font-weight: 500;
      margin-bottom: 0px;
      @include media-breakpoint-down(md) {
        margin: 0px;
        font-size: 51px;
      }
    }
    h3 {
      margin-top: 0px;
      color: $primary;
      font-size: 30px;
      font-weight: 400;
      @include media-breakpoint-down(md) {
        font-size: 21px;
      }
    }
    p {
      font-size: 21px;
      @include media-breakpoint-down(md) {
        font-size: 19px;
      }
    }
  }
}
