.button{
  padding: 7px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    min-height: 11px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Arial,sans-serif;
    line-height: 15px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #607d8b;
    color: white;
  &:hover{
    background-color: #455a64;
    cursor: pointer;
  }
}

input[type="file" i] {

  color: #607d8b;
  height: 50px;
  width: auto;
  outline: none;
  cursor: pointer;

}

.alert{
  color: white;
  position: fixed;
  top: 70px;
  right: 0;
  left: 240px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  z-index: 1000;
  width: 300px;
  height: fit-content;
  display: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &.enable{
    display: flex;
    &.success{
      border: 1px solid green;
      background:rgba(0, 128, 0, 0.63);
    }
    &.error{
      background:rgba(255, 0, 0, 0.63);
      border: 1px solid red;

    }
  
  }
  p{
    margin: 0 0;
  }

}

.react-contextmenu{
  background: #607d8b;
  color: white;
  padding: 5px;

  &-item{
    outline: none;
    &:hover{
      cursor: pointer;
      color: black;
    }
  }
}