.folders {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 25px;
  margin-top: 25px;
}
.folder {
  display: flex;
  align-items: center;
  width: fit-content;
  background: none;
  border: 0px;
  outline: none;
  color: rgb(0, 0, 0);
  &__info{
    padding: 0px 30px;
    span{
      color:red;
    }
  }
  &__modal {
    padding: 20px;
    input {
      height: 26px;
    }
    label {
      width: 100%;
      display: block;
      text-align: left;
      padding: 15px 0px;
      font-size: 17px;
    }
  }
  svg {
    color: #fea638;
    padding-right: 5px;
  }
  &:hover {
    cursor: pointer;
    color: #fea638;
    svg {
      color: #fab35c;
    }
  }
  &-red {
    color: red;
    svg {
      color: red;
    }
    &:hover {
      color: red;
      svg {
        color: rgb(224, 44, 44);
      }
    }
  }
}
