@import "./brakepoint.scss";
@import "./iconmoon/style.css";
@import "./tab.scss";
@import "./pagination.scss";
@import "./files.scss";
@import "./gallery.scss";
@import "./btn.scss";
@import "./layout.scss";
@import "./folder.scss";
@import "./submenu.scss";
@import "./serviceUser.scss";
@import "./settingsAccount.scss";
@import "./../components/modal/modal.scss";
@import "item.scss";
@import "modalFile.scss";

.longText {
  max-width: 75ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1.title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  margin: 5px;
}
p.title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  margin: 5px;
}

.center{
  text-align: center;
}