.layout {
  box-sizing: border-box;
  background: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.max {
  width: 100% !important;
}

.ql-editor {
  min-height: 200px;
}

.card-content{
  max-height: 171px;
  text-align: center;
  background-image: url("/grill.jpg") ;
  width: 90%;
    overflow: hidden;
    img{
      width: 170px;
    }
}

.title{
  &__others{
    font-size: 24px;
    padding: 10px 10px;
    margin-bottom: 0px;
    color: #ffffff;
    background: #949494;
    width: 100% !important
  }
}

.MuiMenuItem-root {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}