.serviceUser {
  height: 1px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;

 
  a{
    text-decoration: none;
    color:#3f51b5;
    &:hover{
      color:black;
    }
    &.link{
      &-restory{
        text-align: center;
        width: 100%;
        display: block;
        padding: 10px 0px;
    }
  }
  }
  &__back{
    margin-top: 25px;
  }
  &__login{
    > div:first-child{
      height: auto;
      display: block;
      min-height: auto;
      align-items: center;
      flex-direction: column;
      background-size: cover;
      justify-content: flex-start;
      background-repeat: no-repeat;
  }
  }
  &__restory{
    min-width: 300px;
    margin-top: 6em;
    padding: 20px;
    input{
      font: inherit;
      color: currentColor;
      border: 0;
      margin: 0;
      padding: 6px 0 7px;
      display: block;
      min-width: 0;
      flex-grow: 1;
      box-sizing: content-box;
      background: none;
      vertical-align: middle;
      -webkit-tap-highlight-color: transparent;
    }
    p{
      margin: 4px 0px;
      color: grey;
      text-align: center;
    }
    h3{
      color: #3f51b5;
      text-align: center;
    }
    &__send{
      margin-left: 20px !important;
    }
  }
}
