.tab {
  margin: 13px 0px;
  border: 1px solid rgba(96, 125, 139, 0.3);
    background: white;
    padding: 10px;
  a {
    color: #607d8b !important;
    text-decoration: none;
    padding: 5px 14px;
    font-size: 18px;
    &:hover {
      cursor: pointer;
    }
    &.active {
      color: black !important;
      display: inline-block;
    }
  }
}
