.news{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-top: 100px;
    padding: 25px;
    @include media-breakpoint-down(md) {
        margin-top: 50px;
    }
    @include media-breakpoint-down(sm) {
        justify-content: center;
    }
    &__box{
        width: 30%;
        max-width: 500px;
        height: 100%;
        margin-bottom: 50px;
        @include media-breakpoint-down(lg) {
            width: 45%;
          }
          @include media-breakpoint-down(sm) {
            width:100%;
            display: flex;
            justify-content: center;
          }
          a{
              width: 100%;
          }
        h3{
            font-size: 19px;
            margin: 5px 0;
            color: black;
            font-weight: 400;
        }
    }
    &__thumbnail{
        position: relative;
        height: 300px;
        background: grey;
        background-size: cover;
        @include media-breakpoint-down(xl) {
            height: 250px;
        }
        
        p{
            position: absolute;
            bottom: 5px;
            left:0px;
            background: $primary;
            color: white;
            padding: 5px;
            
        }
    }
}

.newsPage{
    margin-top: 25px;
    padding: 25px;
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
    img{
        max-width: 100%;
    }
    @include media-breakpoint-down(lg) {
        margin-top: 0px;
    }
    h3{
        font-size: 44px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    &__img{
        img{
            width: 75%;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
    &__date{
        margin-top: 5px;
        color:$primary;
    }
    &__text{
        margin-top: 50px;
    }
}