.button {
  &__menu {
    width: 60px;
    height: 60px;
    margin: 15px;
    z-index: 1301;
    right: 0;
    z-index: 1301;
    display: none;
    @include media-breakpoint-down(lg) {
      display: block;
    }
    @include media-breakpoint-down(sm) {
      margin: 10px;
    }
    &:hover {
      cursor: pointer;
      span {
        background: $primary;
      }
    }
    span {
      display: block;
      width: 1.3125rem;
      height: 0.125rem;
      position: relative;
      background: white;
      left: 20px;
      top: 28px;

      &::before {
        transition-duration: 0.3s, 0.3s;
        position: absolute;
        top: -7px;
        content: "";
        display: block;
        height: 0.125rem;
        width: 1.3125rem;
        background: inherit;
      }
      &:after {
        transition-duration: 0.3s, 0.3s;
        position: absolute;
        top: 0.4375rem;
        content: "";
        display: block;
        height: 0.125rem;
        width: 1.3125rem;
        background: inherit;
      }

      &.active {
        background: none;
        &::before {
          top: 0;
          transform: rotate(45deg);
          transition-duration: 0.3s, 0.3s;
        }
        &::after {
          top: 0;
          transform: rotate(-45deg);
          transition-duration: 0.3s, 0.3s;
        }
      }
    }
  }
  &__primary {
    cursor: pointer;
    outline: none;
    background: $primary;
    border: 1px solid $primary;
    color: white;
    padding: 10px;
    &:hover {
      background: rgba(255, 0, 0, 0);
    }
  }
  &__secondary {
    outline: none;
    cursor: pointer;
    border: 1px solid $primary;
    background: black;
    color: $primary;
    padding: 10px;
    &:hover {
      border: 1px solid white;
      background: white;
    }
  }
}

.btn {
  background: none;
  color: $primary;
  border: 1px solid $primary;
  padding: 5px 30px;
  margin: 6px;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
  &:hover {
    background: $primary;
    color: white;
    cursor: pointer;
  }
  &--logout {
    right: 5px;
    position: absolute;
    background: $primary;
    color: white;
    &:hover {
      background: white;
      color: $primary;
    }
  }
  &--panel {
    left: 5px;
    position: absolute;
  }
}

button{
  outline: none;
  &:hover{
    cursor: pointer;
  }
}