@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

@import "./brakepoint.scss";
@import "./variables.scss";
@import "./iconmoon/style.css";
@import "./button.scss";

@import "./components/index.scss";
@import "./../modules/performance/style.scss";

@import "pages/index.scss";
@import "./modules/admin.scss";
@import "./../modules/first_page/style.scss";
@import "./../modules/aboutMe/style.scss";
@import "./../modules/references/style.scss";
@import "./../modules/support/style.scss";
@import "./../modules/contact/style.scss";
@import "./../modules/footer/style.scss";

////// Component
@import "./../component/modal/modal.scss";
@import "./../component/expand/style.scss";
@import "./../component/Loader/style.scss";

@import "./../pages/style.scss";
@import "./editor.scss";
body {
  padding: 0 0;
  margin: 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  h1,h2,h3,h4{
    font-weight: 500;
  }
  strong{
    font-weight: bold;
  }
}

.container{
  width: 100%;
  position: relative;
  margin: auto;
  @include media-breakpoint-down(xxxl) {
    max-width:1520px;
  }
  @include media-breakpoint-down(xl) {
    max-width:1140px;
  }
  @include media-breakpoint-down(lg) {
    max-width:962px;
  }
  @include media-breakpoint-down(md) {
    max-width:728px;
  }
  @include media-breakpoint-down(sm) {
    max-width:100%;
  }
}

.title{
  font-size: 65px;
  font-weight: 400;
  text-align: center;
  @include media-breakpoint-down(lg) {
    font-size: 45px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 35px;
  }
}
.wraper {
  width: 100%;
}

a{
  text-decoration: none;
  color:$grey_3;
  &:hover{
    color:$grey_1;
  }
}

.text__area{
  background: rgb(245, 245, 245);
  font-size: 16px;
}