@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ii8jyh');
  src:  url('fonts/icomoon.eot?ii8jyh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ii8jyh') format('truetype'),
    url('fonts/icomoon.woff?ii8jyh') format('woff'),
    url('fonts/icomoon.svg?ii8jyh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-ctrl-right:before {
  content: "\ea50";
}
.icon-ctrl-left:before {
  content: "\ea51";
}
