@import "./navbar.scss";
@import "./noMatch.scss";
.pages {
  &__container {
    min-height: calc(100vh - 204px);
  }
  &__title {
    position: absolute;
    top: 170px;
    margin-left: 60px;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-right: 0;
      margin: auto;
      text-align: center;
      width: 100%;
      top: 110px;
    }
    h1 {
      color: white;
      font-weight: 100;
      font-size: 70px;
      margin: 0px;
      width: fit-content;
      position: relative;
      @include media-breakpoint-down(sm) {
        width: 100%;
        font-size: 50px;
      }
      &:before {
        width: 100%;
        height: 1px;
        background: $primary;
        position: absolute;
        bottom: 0px;
        content: " ";
        @include media-breakpoint-down(sm) {
          width: 50%;
          bottom: 0px;
          left: 0px;
          right: 0;
          margin: auto;
          content: " ";
        }
      }
    }
    h3 {
      color: $grey_1;
      font-weight: 100;
      font-size: 19px;
      margin: 10px 0;
      @include media-breakpoint-down(sm) {
        font-size: 17px;
        padding: 10px;
      }
    }
  }
  &__style {
    p {
      font-family: sans-serif;
      font-size: 16px;
      line-height: 1.625;
      margin: 18px 0;
    }
  }
}
