.pages {
  &__navbar {
    background: black;
    background-image: url("/top.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    a {
      display: block;
      width: fit-content;
      height: fit-content;
      @include media-breakpoint-down(sm) {
        padding:5px;
      }
    }
    .container{
      height: 400px;
      @include media-breakpoint-down(sm) {
        height: 300px;
      }
    }
    &--news{
      .container{
        height: 110px;
      }
    }
  }
}
