.noMatch {
  width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 32px;
    color: #656161;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
      color: $grey_3;
      font-weight: 400;
    }
    @include media-breakpoint-down(md) {
      height: auto;
      min-height: 400px;
      h2{
        font-size: 35px;
      }
    }
}
