.footer {
  background: $grey_3;
  margin-top: 150px;
  color: white;
  @include media-breakpoint-down(sm) {
    padding: 25px;
  }
  h3 {
    font-size: 30px;
    font-weight: 400;
    @include media-breakpoint-down(md) {
      font-size: 25px;
    }
  }
  &__fb{
    font-size: 30px;
    text-align: center;
    margin-right: 10px 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    a{
      margin:10px;
    }
    p{
      font-size: 15px;
      margin: 0px;
      margin-bottom: 10px;
    }
  }
  &__top {
    display: flex;
    padding: 50px 0px;
    position: relative;
    @include media-breakpoint-down(sm) {
      flex-flow: column;
      align-items: center;
      text-align: center;
    }
  }
  &__column {
    flex: 1;
    z-index: 1;
    p span{
      margin-right: 10px;
    }
    @include media-breakpoint-down(sm) {
      width: 270px;
    }
  }
  &__bottom {
    color: $grey_2;
    border-top: 1px solid $grey_2;
    text-align: center;
    padding: 25px;
  }
  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -80px;
    width: 200px;
    height: 200px;
    background: $grey_3;
    border-radius: 50%;
    img {
      position: absolute;
      left: 0px;
      right: 0px;
      margin: auto;
      top: 25px;
      width: 100px;
    }
  }
  p {
    color: $grey_1;
  }
  a {
    color: $grey_1;
    text-decoration: none;
    &:hover {
      color: $grey_2;
    }
  }
}
