.performance {
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 500px;
  position: relative;
  display: flex;
  border-top: 8px solid black;
  border-bottom: 8px solid black;

  @include media-breakpoint-down(md) {
    flex-flow:wrap;
    background-size: cover;
    padding: 30px 0px;
  }
  &__border {
    border-top: 4px solid $yellow;
    border-bottom: 4px solid $yellow;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    @include media-breakpoint-down(md) {
      flex-flow:wrap;
    }
  }

  @include media-breakpoint-up(xxl) {
    min-height: 700px;
  }
  &::after {
    border-bottom: 1px dashed white;
    border-width: 2px;
    content: " ";
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 3px;
  }
  &::before {
    border-bottom: 1px dashed white;
    border-width: 2px;
    content: " ";
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 6px;
  }
  &__item {
    margin: 10px;
    width: 230px;
    height: 230px;
    color: white;
    border: 3px solid $yellow;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.34);
    @include media-breakpoint-down(md) {
      width: 180px;
      height: 180px;
      font-size: 52px;
    }
    @include media-breakpoint-up(xxl) {
      width: 300px;
      height: 300px;
    }
  }
  h3 {
    color: white;
    width: 250px;
    margin: 5px auto;
    padding: 5px;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    @include media-breakpoint-down(md) {
      width: 200px;
      font-size: 21px;
    }
  }
}
