.modal__new {
  &__container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000; 
    transition: top  0.8s;
    opacity: 1;   
    &-click{
      position: relative;
      z-index: 1;
    }
    &--none{
      opacity: 0.7;
      transition-delay: 0.3s;
      top: -300%;
    }
  }
  &__content {
    border: 1px solid #2b0d6c;
    margin: 15px;
    min-height: 300px;
    padding: 25px;
    box-sizing: border-box;
    @include media-breakpoint-down(sm) {
      overflow: scroll;
      height: 100vh;
    }
  }
  background: white;
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  width: 80%;
  height: fit-content;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  @include media-breakpoint-down(sm) {
    width: 100%;
    bottom: auto;
  }
  &-active {
    top: -300%;
    bottom: 0;
  }
  

  &__close {
    position: absolute;
    background: white;
    font-size: 26px;
    padding: 3px 5px;
    cursor: pointer;
    right: 13px;
    top: 15px;
    color: #2b0d6c;
    border:0px;
    outline: none;
    &:hover {
     color:grey;
    }
  }
}
